Repository chorenzo-dev/engine: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint:fix, npm run format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "bash -c 'npm run typecheck'",
    "npm run lint:fix",
    "npm run format"
  ],
  "*.{json,md,yml,yaml}": ["npm run format"]
}

fix: TypeScript type errors in Ink UI components
  src/components/ReApplicationPrompt.tsx
  src/components/RecipeInfoCollection.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Revert "fix: TypeScript type errors in Ink UI components"
  src/components/ReApplicationPrompt.tsx
  src/components/RecipeInfoCollection.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Revert "Revert "fix: TypeScript type errors in Ink UI components""
  src/components/ReApplicationPrompt.tsx
  src/components/RecipeInfoCollection.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix null validation bug in state structure validation
  src/utils/state-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix critical state corruption bug in loadState error handling
  src/utils/state-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add integration tests for state manager security features
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: update state file error handling test expectation
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: prevent test filesystem side effects and enhance state verification
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: critical security vulnerabilities in state manager (#53)
  package-lock.json
  package.json
  src/commands/recipes.test.ts
  src/utils/path.utils.ts
  src/utils/state-manager.utils.ts
  tsup.config.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.0.1 [skip ci]
  package.json
Due: npm run format

Notes added by 'git notes add'
  60b90cfea8925415d7c9ecccb28a26497c107e63
Due: none

Apply strict-typescript-config recipe with exactOptionalPropertyTypes cleanup
  .chorenzo/state.json
  src/commands/analyze.test.ts
  src/commands/auth.test.ts
  src/commands/init.test.ts
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/AnalysisPrompt.tsx
  src/components/ReApplicationPrompt.tsx
  src/components/StepSequence/DebugMessagesList.tsx
  src/containers/InitContainer.tsx
  src/test-setup.ts
  src/test-utils/mock-environment.ts
  src/utils/claude.utils.ts
  src/utils/code-changes-events.utils.ts
  src/utils/formatAnalysis.tsx
  src/utils/git.utils.ts
  src/utils/gitignore.utils.ts
  src/utils/library-manager.utils.ts
  src/utils/logger.utils.ts
  src/utils/recipe.utils.ts
  tsconfig.json
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: add ESLint rule to enforce optional chaining
  eslint.config.mjs
  src/commands/recipes.ts
  src/utils/code-changes-events.utils.ts
  src/utils/git.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore: apply strict TypeScript configuration with cleanup (#54)
  .chorenzo/state.json
  eslint.config.mjs
  package-lock.json
  src/commands/analyze.test.ts
  src/commands/auth.test.ts
  src/commands/init.test.ts
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/AnalysisPrompt.tsx
  src/components/ReApplicationPrompt.tsx
  src/components/RecipeInfoCollection.tsx
  src/components/StepSequence/DebugMessagesList.tsx
  src/containers/InitContainer.tsx
  src/test-setup.ts
  src/test-utils/mock-environment.ts
  src/utils/claude.utils.ts
  src/utils/code-changes-events.utils.ts
  src/utils/formatAnalysis.tsx
  src/utils/git.utils.ts
  src/utils/gitignore.utils.ts
  src/utils/library-manager.utils.ts
  src/utils/logger.utils.ts
  src/utils/path.utils.ts
  src/utils/recipe.utils.ts
  src/utils/state-manager.utils.ts
  tsconfig.json
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

docs: add PR conventions to CLAUDE.md
  CLAUDE.md
Due: npm run format

fix: prevent cross-contamination in recipe state management prompts
  src/prompts/apply_recipe_project_state_management.md.hbs
  src/prompts/apply_recipe_workspace_state_management.md.hbs
Due: none

ci: trigger build/deploy on recipe template changes
  .github/workflows/ci.yml
Due: npm run format

Add local recipe search functionality
  src/utils/library-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

add CLI command definition for recipes show
  src/Shell.tsx
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

add Shell routing logic for recipes show command
  src/Shell.tsx
  src/containers/RecipesShowContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

create simplified TypeScript interfaces for recipes show command
  src/types/recipes-show.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add integration tests for local recipe search functionality
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

implement recipe loading logic for recipes show command
  src/commands/recipes.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: add local recipe search functionality (#55)
  src/commands/recipes.test.ts
  src/utils/library-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

create RecipeDisplayComponent for showing recipe information
  src/components/RecipeDisplayComponent.tsx
  src/containers/RecipesShowContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

use GitHub App for release workflow authentication
  .github/workflows/release.yml
Due: npm run format

remove path filtering from CI workflow
  .github/workflows/ci.yml
Due: npm run format

ci: use GitHub App for release workflow authentication (#56)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: npm run format

chore(release): 1.1.0 [skip ci]
  package.json
Due: npm run format

Notes added by 'git notes add'
  61231f8d798917d64c6de9add1f390adf99dde2d
Due: none

add missing write-file-atomic dependency
  package-lock.json
  package.json
Due: npm run format

fix: add missing write-file-atomic dependency (#57)
  package-lock.json
  package.json
Due: npm run format

chore(release): 1.1.1 [skip ci]
  package.json
Due: npm run format

Notes added by 'git notes add'
  d6711347e954ef1d502659a86567d713db87e95c
Due: none

create RecipeActionsMenu for Apply/Exit options
  src/components/RecipeActionsMenu.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

implement complete RecipesShowContainer orchestrating show command
  src/containers/RecipesShowContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

add comprehensive integration tests for recipes show command
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix code review issues for recipes show command
  .DS_Store
  src/commands/recipes.ts
  src/containers/RecipesShowContainer.tsx
  src/types/recipes-show.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

add .DS_Store to .gitignore
  .DS_Store
  .gitignore
Due: none

update readme
  .chorenzo/state.json
  .gitignore
  README.md
Due: npm run format
