Repository chorenzo-dev/engine: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: remove duplicate findRecipeByName wrapper function
  src/commands/recipes.validate.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore: update analysis.json to use camelCase field names and reflect current dependencies
  .chorenzo/analysis.json
Due: npm run format

refactor: consolidate ProgressCallback type definitions
  src/commands/analyze.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: extract code duplications into reusable functions in recipes.apply.ts
  src/commands/recipes.apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: improve file naming and separate validation tests
  src/Shell.tsx
  src/commands/analysis.validate.test.ts
  src/commands/analysis.validate.ts
  src/commands/analyze.test.ts
  src/containers/AnalysisValidateContainer.tsx
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: Add validate analysis command and use within analysis (#67)
  .chorenzo/analysis.json
  package-lock.json
  package.json
  src/Shell.tsx
  src/commands/analysis.validate.test.ts
  src/commands/analysis.validate.ts
  src/commands/analyze.test.ts
  src/commands/analyze.ts
  src/commands/recipes.test.ts
  src/containers/AnalysisValidateContainer.tsx
  src/main.ts
  src/prompts/analyze_workspace.md.hbs
  src/schemas/analysis.schema.ts
  src/types/analysis.ts
  src/utils/analyze.utils.ts
  src/utils/project-characteristics.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.6.0 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  fc43462946c0e5b14fdb6de296355cb851cf2ef8
Due: none

fix: update enum usage and type annotations after merge
  src/commands/recipes.apply.test.ts
  src/utils/analyze.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: modularize recipes command system and eliminate code duplication (#68)
  src/commands/analyze.ts
  src/commands/recipes.apply.test.ts
  src/commands/recipes.apply.ts
  src/commands/recipes.generate.test.ts
  src/commands/recipes.generate.ts
  src/commands/recipes.list.test.ts
  src/commands/recipes.list.ts
  src/commands/recipes.shared.ts
  src/commands/recipes.show.test.ts
  src/commands/recipes.show.ts
  src/commands/recipes.test-utils.ts
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/commands/recipes.validate.test.ts
  src/commands/recipes.validate.ts
  src/components/RecipeInfoCollection.tsx
  src/containers/RecipesApplyContainer.tsx
  src/containers/RecipesGenerateContainer.tsx
  src/containers/RecipesListContainer.tsx
  src/containers/RecipesShowContainer.tsx
  src/containers/RecipesValidateContainer.tsx
  src/utils/analyze.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Enhance error handling and logging in code changes operations
  src/utils/code-changes-events.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Update test to expect new error message format
  src/commands/recipes.apply.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Enhance error handling and logging in code changes operations (#69)
  src/commands/recipes.apply.test.ts
  src/utils/code-changes-events.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.6.1 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  7e6a7b14f1b163fd9635a42a24194dab4ed21579
Due: none

Improve error handling for analysis operations with no valid data
  src/commands/analyze.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix misleading success message when analysis fails
  src/containers/AnalyzeContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Improve error handling for analysis operations with no valid data (#70)
  src/commands/analyze.ts
  src/containers/AnalyzeContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.6.2 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  613eb4cac5373ad43a55284990f31cf04180a644
Due: none

Increase maxTurns for analysis operations from 15 to 50
  src/commands/analyze.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Increase maxTurns for analysis operations from 15 to 50 (#71)
  src/commands/analyze.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.6.3 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  9e9476f015a8036ae9a04af1fdff2385dd83960a
Due: none

Align analysis formatting with schema structure
  src/utils/formatAnalysis.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Align analysis formatting with schema structure (#72)
  src/utils/formatAnalysis.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.6.4 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  0ceb986ea4cf85522576892d1b3ed59a3efe51e0
Due: none

Enhance error reporting for recipe application failures
  src/commands/recipes.apply.test.ts
  src/commands/recipes.apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: enhance error reporting for recipe application failures (#73)
  src/commands/recipes.apply.test.ts
  src/commands/recipes.apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.6.5 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  91517ed46a08b881eea13cf17e3d37d36e50ec7b
Due: none

Correct Ecosystem enum to only include package registry ecosystems
  src/types/analysis.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Correct Ecosystem enum to only include package registry ecosystems (#74)
  src/types/analysis.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.6.6 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  ac2223f94a9764ed1871a6cc25f275f7310e3b2a
Due: none

Remove remaining typescript ecosystem references from tests and analysis
  .chorenzo/analysis.json
  src/commands/analyze.test.ts
  src/commands/recipes.validate.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Remove remaining typescript ecosystem references from tests and analysis (#75)
  .chorenzo/analysis.json
  src/commands/analyze.test.ts
  src/commands/recipes.validate.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.6.7 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  7fa2a1a73f325284d6517fc01d24e0677d36486a
Due: none

Path conditions:
  bash -c 'npm run typecheck': any of: *.{js,jsx,ts,tsx}
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
