Repository chorenzo-dev/engine: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: implement recipes show command (#58)
  .chorenzo/state.json
  .gitignore
  README.md
  src/Shell.tsx
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/RecipeActionsMenu.tsx
  src/components/RecipeDisplayComponent.tsx
  src/containers/RecipesShowContainer.tsx
  src/main.ts
  src/types/recipes-show.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.2.0 [skip ci]
  package.json
Due: npm run format

Notes added by 'git notes add'
  ced756ad2f5096b1ed9462f4dc45e0e0bd83b473
Due: none

fix: improve recipe reapplication user experience
  src/containers/RecipesApplyContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: improve recipe reapplication user experience (#59)
  src/containers/RecipesApplyContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.2.1 [skip ci]
  package.json
Due: npm run format

Notes added by 'git notes add'
  5c06bed4f5075a2b16489c758bfab10e388f3510
Due: none

ci: include package-lock.json in semantic-release commits
  .releaserc.json
Due: npm run format

fix: eliminate npm deprecation warnings for inflight and glob packages
  package-lock.json
  package.json
Due: npm run format

ci: include package-lock.json in semantic-release commits (#60)
  .releaserc.json
Due: npm run format

fix: eliminate npm deprecation warnings for inflight and glob packages (#61)
  package-lock.json
  package.json
Due: npm run format

chore(release): 1.2.2 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  a69a67ae7d123e5b4851c84501e71a7385cf02e8
Due: none

fix: correct recipe validation summary counting
  src/commands/recipes.test.ts
  src/commands/recipes.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

improve error message formatting for validation commands
  src/commands/recipes.ts
  src/components/ProcessDisplay.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: correct recipe validation summary counting and improve error formatting (#62)
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/ProcessDisplay.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.2.3 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  af4f8ae28dd5af948fb3d77c6e0b5c3f551a2d64
Due: none

add interactive recipes list command
  src/Shell.tsx
  src/commands/recipes.ts
  src/containers/RecipesListContainer.tsx
  src/main.ts
  src/utils/library-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

add error utility functions for message extraction and formatting
  src/utils/error.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in yaml utils with formatErrorMessage
  src/utils/yaml.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix recipes list command for multi-library support and React key warnings
  src/containers/RecipesListContainer.tsx
  src/utils/library-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in prompts utils with formatErrorMessage
  src/utils/prompts.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in json utils with formatErrorMessage
  src/utils/json.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in recipe utils with formatErrorMessage
  src/utils/recipe.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in library manager utils with formatErrorMessage
  src/utils/library-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in logger utils with formatErrorMessage
  src/utils/logger.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in gitignore utils with formatErrorMessage
  src/utils/gitignore.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in remaining utils files with formatErrorMessage
  src/utils/claude.utils.ts
  src/utils/code-changes-events.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in command files with error utilities
  src/commands/analyze.ts
  src/commands/auth.ts
  src/commands/init.ts
  src/commands/recipes.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

replace error formatting patterns in remaining files with error utilities
  src/components/AuthenticationStep.tsx
  src/components/RecipeInfoCollection.tsx
  src/containers/AnalyzeContainer.tsx
  src/containers/InitContainer.tsx
  src/containers/RecipesApplyContainer.tsx
  src/containers/RecipesGenerateContainer.tsx
  src/containers/RecipesShowContainer.tsx
  src/containers/RecipesValidateContainer.tsx
  src/main.ts
  src/utils/code-changes-events.utils.ts
  src/utils/library-manager.utils.ts
  src/utils/recipe.utils.ts
  src/utils/retry.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: extract error message formatting pattern into error utilities (#63)
  src/commands/analyze.ts
  src/commands/auth.ts
  src/commands/init.ts
  src/commands/recipes.ts
  src/components/AuthenticationStep.tsx
  src/components/RecipeInfoCollection.tsx
  src/containers/AnalyzeContainer.tsx
  src/containers/InitContainer.tsx
  src/containers/RecipesApplyContainer.tsx
  src/containers/RecipesGenerateContainer.tsx
  src/containers/RecipesShowContainer.tsx
  src/containers/RecipesValidateContainer.tsx
  src/main.ts
  src/utils/claude.utils.ts
  src/utils/code-changes-events.utils.ts
  src/utils/error.utils.ts
  src/utils/gitignore.utils.ts
  src/utils/json.utils.ts
  src/utils/library-manager.utils.ts
  src/utils/logger.utils.ts
  src/utils/prompts.utils.ts
  src/utils/recipe.utils.ts
  src/utils/retry.utils.ts
  src/utils/yaml.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

remove progress option from types and container
  src/containers/RecipesValidateContainer.tsx
  src/types/common.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

remove progress check from RecipeInfoCollection
  src/components/RecipeInfoCollection.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: improve recipes test infrastructure and UI display
  src/commands/recipes.test.ts
  src/containers/RecipesListContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

remove --no-progress flags from all CLI commands
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: simplify createLibraryConfig calls to use default URLs where possible
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

remove progress option passing from Shell component
  src/Shell.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

remove --no-progress documentation from README
  README.md
Due: npm run format

refactor: replace duplicate basic mock setups with setupDefaultMocks
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Path conditions:
  bash -c 'npm run typecheck': any of: *.{js,jsx,ts,tsx}
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
