Repository chorenzo-dev/engine: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint:fix, npm run format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "bash -c 'npm run typecheck'",
    "npm run lint:fix",
    "npm run format"
  ],
  "*.{json,md,yml,yaml}": ["npm run format"]
}

Improve framework detection to verify actual usage vs dependencies
  src/prompts/analyze_workspace.md.hbs
Due: none

Fix analyze tests by removing 'Building file tree' expectations
  src/commands/analyze.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: improve workspace analysis CI/CD detection and framework verification (#83)
  src/commands/analyze.test.ts
  src/commands/analyze.ts
  src/commands/recipes.apply.ts
  src/prompts/analyze_workspace.md.hbs
  src/utils/file-tree.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.10.2 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  a06228bfabd75d246d9eb1b653faddf35d7efa44
Due: none

Fix handling of .applied reserved keywords in recipe validation
  src/commands/recipes.apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add integration test for .applied reserved keywords validation
  src/commands/recipes.apply.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Fix handling of .applied reserved keywords in recipe validation (#84)
  src/commands/recipes.apply.test.ts
  src/commands/recipes.apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.10.3 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  5ad7273c1436dfbede7139e64cc72a23b8a31e64
Due: none

fix: resolve recipe review timeout issues
  src/templates/validation/code_sample_review.md.hbs
  src/utils/ai-review.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Fix recipe review timeout issues (#85)
  src/templates/validation/code_sample_review.md.hbs
  src/utils/ai-review.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.10.4 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  04178ad3a8b7908947e15c941cd5f5405fc8912c
Due: none

Enhance recipe review to detect redundant provides fields
  src/templates/validation/code_sample_review.md.hbs
Due: none

fix: Enhance recipe review to detect redundant provides fields (#86)
  src/templates/validation/code_sample_review.md.hbs
Due: none

chore(release): 1.10.5 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  855b1bfab1fb24451870392080768ed388268185
Due: none

Improve redundant provides field detection in recipe review
  src/templates/validation/code_sample_review.md.hbs
Due: none

fix: Improve redundant provides field detection in recipe review (#87)
  src/templates/validation/code_sample_review.md.hbs
Due: none

chore(release): 1.10.6 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  eec9cdfec4842f393ed85e03471e9307dd5a6b38
Due: none
