Repository chorenzo-dev/engine: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Complete Phase 5: Add gitignore management for state file tracking
  .gitignore
  src/commands/init.ts
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/utils/gitignore.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Complete Phase 7: Integrate gitignore functionality into GitignoreManager
  src/commands/init.test.ts
  src/utils/file-tree.utils.ts
  src/utils/gitignore.utils.ts
  src/utils/validation.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Remove '# End Chorenzo' from gitignore patterns
  .gitignore
  src/commands/init.test.ts
  src/utils/gitignore.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Standardize recipe provides field to string format and fix validation regression
  src/utils/recipe.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix gitignore pattern to properly track state.json and analysis.json files
  .chorenzo/analysis.json
  .chorenzo/state.json
  .gitignore
Due: npm run format

Update gitignore pattern to use /.chorenzo/* and remove backward compatibility
  src/commands/init.test.ts
  src/utils/gitignore.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

cleanup state.json
  .chorenzo/state.json
Due: npm run format

Implement Applied Recipe Tracking System (CHO-55) (#49)
  .chorenzo/analysis.json
  .chorenzo/state.json
  .gitignore
  src/commands/init.test.ts
  src/commands/init.ts
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/ReApplicationPrompt.tsx
  src/containers/RecipesApplyContainer.tsx
  src/main.ts
  src/types/recipes-apply.ts
  src/utils/file-tree.utils.ts
  src/utils/gitignore.utils.ts
  src/utils/project-characteristics.utils.ts
  src/utils/recipe.utils.ts
  src/utils/state-manager.utils.ts
  src/utils/validation.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Install and configure commitlint
  commitlint.config.js
  package-lock.json
  package.json
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add Husky commit-msg hook with branch-aware validation
  .husky/commit-msg
Due: none

Add GitHub Actions CI/CD pipeline configuration
  .chorenzo/analysis.json
  .chorenzo/state.json
  .github/workflows/build.yml
  .github/workflows/test.yml
  .gitignore
Due: npm run format

Simplify CI workflows and standardize Node.js version
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
Due: npm run format

Add shebang to main.ts to trigger CI workflows
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix deprecated upload-artifact action version
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: npm run format

Optimize test workflow to run tests only once with coverage
  .github/workflows/test.yml
Due: npm run format

Remove dummy shebang from main.ts
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: add CI/CD pipeline configuration (CHO-56) (#50)
  .chorenzo/analysis.json
  .chorenzo/state.json
  .github/workflows/build.yml
  .github/workflows/test.yml
  .gitignore
  .nvmrc
Due: npm run format

Add PR title validation workflow for conventional commits
  .github/workflows/pr-check.yml
Due: npm run format

Add comprehensive contributing guidelines
  CONTRIBUTING.md
Due: npm run format

Sync commitlint config with GitHub Action validation
  commitlint.config.js
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: implement conventional commits and validation (#51)
  .github/workflows/pr-check.yml
  .husky/commit-msg
  CONTRIBUTING.md
  commitlint.config.js
  package-lock.json
  package.json
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: rename commitlint config to .cjs for ES module compatibility
  commitlint.config.cjs
Due: none

ci: simplify CI workflows to use paths triggers
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: npm run format

feat: enhance package.json for npm publishing
  package.json
Due: npm run format

feat: add .npmignore to control npm package contents
  .npmignore
Due: none

fix: correct repository URL format for npm
  package.json
Due: npm run format

refactor: merge build and test workflows into single CI workflow
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: npm run format

feat: implement semantic-release for automated npm publishing
  .github/workflows/release.yml
  .releaserc.json
  package-lock.json
  package.json
Due: npm run format

fix: install missing semantic-release plugins
  package-lock.json
  package.json
Due: npm run format

ci: deploy Chorenzo Engine to NPM registry (#52)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .npmignore
  .releaserc.json
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  0f19260d021676697d9627ea24764d5b62b568d3
Due: none

Notes added by 'git notes add'
  67db5919ad696bf7fa8c700d4be811dca619dfcb
Due: none

Notes added by 'git notes add'
  90c00754f910168ad19dbbfd704c29f04e27ddfc
Due: none

Notes added by 'git notes add'
  261ddece2af078a30912deb11f85f896e2ffb1d9
Due: none

ci: rename package from @chorenzo/engine to chorenzo for simple npx usage
  .github/workflows/release.yml
  .releaserc.json
  commitlint.config.cjs
  package-lock.json
  package.json
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.0.0 [skip ci]
  package.json
Due: npm run format

Notes added by 'git notes add'
  e61000ecca82cefc3fc5353ace919b33a2dc3032
Due: none

chore: re-enable GitHub comments in semantic-release [skip ci]
  .releaserc.json
Due: npm run format

Fix critical security vulnerabilities in state manager
  package-lock.json
  package.json
  src/utils/path.utils.ts
  src/utils/state-manager.utils.ts
  tsup.config.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix security logging implementation
  src/utils/state-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Path conditions:
  bash -c 'npm run typecheck': any of: *.{js,jsx,ts,tsx}
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
