Repository chorenzo-dev/engine: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint:fix, npm run format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "bash -c 'npm run typecheck'",
    "npm run lint:fix",
    "npm run format"
  ],
  "*.{json,md,yml,yaml}": ["npm run format"]
}

Fix redundant key validation to only check recipe-specific keys
  src/commands/recipes.validate-state.test.ts
  src/commands/recipes.validate-state.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Simplify test structure for recipes review integration tests
  src/commands/recipes.review.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add validation for recipe.applied key in state validation
  src/commands/recipes.validate-state.test.ts
  src/commands/recipes.validate-state.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Improve applied key validation to handle true/false/missing states
  src/commands/recipes.validate-state.test.ts
  src/commands/recipes.validate-state.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix applied key being incorrectly flagged as redundant
  src/commands/recipes.validate-state.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: standardize test assertion patterns
  src/commands/recipes.review.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix applied:false validation logic - redundant keys are expected when recipe not applied
  src/commands/recipes.validate-state.test.ts
  src/commands/recipes.validate-state.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: eliminate error handling code duplication
  src/commands/recipes.review.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: remove unused exports and imports
  src/types/recipe-review.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix some state entries
  .chorenzo/state.json
Due: npm run format

docs: add recipes review command documentation
  README.md
Due: npm run format

Fix recipe applied keys being written to wrong state level
  src/commands/recipes.apply.ts
  src/utils/state-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: simplify recipes review to single recipe only
  README.md
  src/commands/recipes.review.test.ts
  src/commands/recipes.review.ts
  src/containers/RecipesReviewContainer.tsx
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Complete CHO-101: Add validate-state integration to recipe apply prompts
  src/prompts/apply_recipe_project_state_management.md.hbs
  src/prompts/apply_recipe_workspace_state_management.md.hbs
Due: none

Fix validation bug for recipes with no provides
  src/commands/recipes.validate-state.test.ts
  src/commands/recipes.validate-state.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: Add internal recipes validate-state command (#78)
  .chorenzo/state.json
  src/Shell.tsx
  src/commands/recipes.apply.ts
  src/commands/recipes.validate-state.test.ts
  src/commands/recipes.validate-state.ts
  src/containers/RecipesValidateStateContainer.tsx
  src/main.ts
  src/prompts/apply_recipe_project_state_management.md.hbs
  src/prompts/apply_recipe_workspace_state_management.md.hbs
  src/utils/state-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.8.0 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  a31972451a87fd26988824876608fe8e446c07c9
Due: none

refactor: switch recipes review from JSON to markdown with AI file discovery
  src/commands/recipes.review.test.ts
  src/commands/recipes.review.ts
  src/containers/RecipesReviewContainer.tsx
  src/templates/validation/code_sample_validation.md.hbs
  src/types/recipe-review.ts
  src/utils/ai-validation.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: clarify recipe review validation rules for consistency
  src/templates/validation/code_sample_validation.md.hbs
Due: none

refactor: rename validation to review for consistency
  src/commands/recipes.review.ts
  src/templates/validation/code_sample_review.md.hbs
  src/utils/ai-review.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: enhance recipe review with comprehensive content validation rules
  docs/recipes.md
  src/templates/recipe/recipe_magic_generate.md.hbs
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
  src/templates/validation/code_sample_review.md.hbs
Due: npm run format

feat: add validation commands to AI recipe generation with loop prevention
  src/templates/recipe/recipe_magic_generate.md.hbs
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
Due: none

fix: update test expectation to match renamed review function error message
  src/commands/recipes.review.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: Create recipes review command for AI-powered prompt content validation (#79)
  README.md
  docs/recipes.md
  src/Shell.tsx
  src/commands/recipes.review.test.ts
  src/commands/recipes.review.ts
  src/commands/recipes.test-utils.ts
  src/commands/recipes.validate.test.ts
  src/commands/recipes.validate.ts
  src/containers/RecipesReviewContainer.tsx
  src/main.ts
  src/templates/recipe/recipe_magic_generate.md.hbs
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
  src/templates/validation/code_sample_review.md.hbs
  src/templates/validation/code_sample_validation.md.hbs
  src/types/recipe-review.ts
  src/utils/ai-review.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.9.0 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  83492fa9a486a1b98bdf1db9f604afae81634a96
Due: none

Fix analyze command: tool rounds, project inclusion, language detection, and framework validation
  src/prompts/analyze_workspace.md.hbs
  src/schemas/analysis.schema.ts
  src/types/analysis.ts
  src/utils/project-characteristics.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Fix analyze command tool rounds, project inclusion, language detection, and framework validation (#80)
  src/prompts/analyze_workspace.md.hbs
  src/schemas/analysis.schema.ts
  src/types/analysis.ts
  src/utils/project-characteristics.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.9.1 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  72b52a887da4f0a0be1c912eeaece197399f059a
Due: none

Update engine allowlist to support package manager commands for dependency management
  src/commands/recipes.apply.test.ts
  src/commands/recipes.apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: Update engine allowlist to support package manager commands for dependency management (#81)
  src/commands/recipes.apply.test.ts
  src/commands/recipes.apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.10.0 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  588f2e28c71a6ffef91ff98998c1df515dda9fe1
Due: none

Fix Claude SDK execution timeout for all operations
  src/utils/code-changes-events.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: Claude SDK execution timeout for all operations (#82)
  src/utils/code-changes-events.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.10.1 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  a77b026346ff1521c164e6b4b9f0b09df4f5fa97
Due: none

Improve analysis reliability for CI/CD detection in monorepos
  src/commands/analyze.ts
  src/commands/recipes.apply.ts
  src/prompts/analyze_workspace.md.hbs
  src/utils/file-tree.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format
