Repository chorenzo-dev/engine: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint:fix, npm run format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "bash -c 'npm run typecheck'",
    "npm run lint:fix",
    "npm run format"
  ],
  "*.{json,md,yml,yaml}": ["npm run format"]
}

refactor: remove empty setupApplyMocks function
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

complete progress option removal from type system
  src/Shell.tsx
  src/commands/recipes.ts
  src/main.ts
  src/types/recipes-generate.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: eliminate duplicate setupSuccessfulQueryMock implementations
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: Remove all --no-progress support from CLI (#64)
  README.md
  src/Shell.tsx
  src/commands/recipes.ts
  src/components/RecipeInfoCollection.tsx
  src/containers/RecipesValidateContainer.tsx
  src/main.ts
  src/types/common.ts
  src/types/recipes-generate.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.3.0 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  5a6ba0304ddb3c6d435b1d9c57ff1686d522bde3
Due: none

refactor: replace duplicate error query mock with setupErrorQueryMock function
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: consolidate duplicate setupRecipeFiles patterns in tests
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: remove duplicate setupStandardFileSystemMocks patterns
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: eliminate duplicate setupShowMocks patterns in recipe show tests
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

remove unused --no-progress option from recipes list command
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

docs: add recipes list command documentation to README
  README.md
Due: npm run format

fix: update update-readme recipe to have valid expected output section
  recipes/documentation/update-readme/prompt.md
Due: npm run format

refactor: remove all comments from code files per CLAUDE.md guidelines
  src/containers/RecipesListContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: improve recipes list UI and implement proper apply recipe flow
  src/Shell.tsx
  src/containers/RecipesListContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: implement command transitions for interactive UI flows
  src/Shell.tsx
  src/containers/InitContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

feat: add interactive recipes list command with comprehensive test refactoring (#65)
  README.md
  recipes/documentation/update-readme/prompt.md
  src/Shell.tsx
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/containers/InitContainer.tsx
  src/containers/RecipesListContainer.tsx
  src/main.ts
  src/utils/library-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

chore(release): 1.4.0 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  b29837fd13e4746d2978f5aa88a2012899a21cc1
Due: none

fix: resolve TypeScript errors in recipes.test.ts after refactoring
  src/commands/recipes.list.test.ts
  src/commands/recipes.list.ts
  src/commands/recipes.test-utils.ts
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/containers/RecipesListContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: extract recipes show command into separate module
  src/commands/recipes.show.test.ts
  src/commands/recipes.show.ts
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/containers/RecipesListContainer.tsx
  src/containers/RecipesShowContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: extract recipes validate command into separate module
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/commands/recipes.validate.test.ts
  src/commands/recipes.validate.ts
  src/components/RecipeInfoCollection.tsx
  src/containers/RecipesValidateContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: extract recipes generate command into separate module
  src/commands/recipes.generate.test.ts
  src/commands/recipes.generate.ts
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/containers/RecipesGenerateContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Move CI/CD detection from project level to workspace level in analysis
  src/prompts/analyze_workspace.md.hbs
Due: none

Update analysis.json with CI/CD at workspace level
  .chorenzo/analysis.json
Due: npm run format

feat: Move CI/CD detection from project level to workspace level in analysis (#66)
  .chorenzo/analysis.json
  src/prompts/analyze_workspace.md.hbs
Due: npm run format

chore(release): 1.5.0 [skip ci]
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  0e6f71c288c307b124519de8ab29696790bf3fc3
Due: none

Add Zod validation library dependency
  package-lock.json
  package.json
Due: npm run format

Refactor analysis types from string unions to enums
  src/commands/analyze.test.ts
  src/commands/recipes.test.ts
  src/types/analysis.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add Zod validation schemas for analysis types
  src/schemas/analysis.schema.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add analysis validation command with Zod schema validation
  src/Shell.tsx
  src/commands/analysis-validate.ts
  src/containers/AnalyzeValidateContainer.tsx
  src/main.ts
  src/schemas/analysis.schema.ts
  src/utils/analyze.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: complete recipes command modularization
  src/commands/recipes.apply.test.ts
  src/commands/recipes.apply.ts
  src/commands/recipes.validate.test.ts
  src/containers/RecipesApplyContainer.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Integrate validation into analysis workflow and fix path duplication
  src/commands/analyze.ts
  src/prompts/analyze_workspace.md.hbs
  src/utils/analyze.utils.ts
  src/utils/project-characteristics.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: remove duplicate functions from recipes.apply.ts
  src/commands/recipes.apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add comprehensive integration tests for analysis validation command
  src/commands/analyze.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: create shared types file and eliminate code duplication
  src/commands/recipes.apply.ts
  src/commands/recipes.generate.ts
  src/commands/recipes.list.ts
  src/commands/recipes.shared.ts
  src/commands/recipes.validate.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: consolidate InputType enum and detectInputType function
  src/commands/recipes.apply.ts
  src/commands/recipes.shared.ts
  src/commands/recipes.show.ts
  src/commands/recipes.validate.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

fix: standardize analysis schema to use camelCase consistently
  src/commands/analyze.test.ts
  src/commands/analyze.ts
  src/prompts/analyze_workspace.md.hbs
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: create unified loadRecipe function in recipes.shared.ts
  src/commands/recipes.apply.ts
  src/commands/recipes.shared.ts
  src/commands/recipes.show.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format
