Repository chorenzo-dev/engine: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck', npm run lint:fix, npm run format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "bash -c 'npm run typecheck'",
    "npm run lint:fix",
    "npm run format"
  ],
  "*.{json,md,yml,yaml}": ["npm run format"]
}

Fix recipe validation and refactor duplicate counting logic
  src/commands/recipes.ts
  src/utils/library-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix help menu duplicate content
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix help menu and ensure consistency (#37)
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix README documentation for all CLI commands and options
  README.md
Due: npm run format

Fix README documentation for all CLI commands and options (#38)
  README.md
Due: npm run format

Add support for ecosystem agnostic recipes
  docs/recipes.md
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/RecipeInfoCollection.tsx
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
  src/types/recipe.ts
  src/types/recipes-generate.ts
  src/utils/recipe.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

UI improvements for ecosystem selection
  src/components/RecipeInfoCollection.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add support for ecosystem agnostic recipes (#39)
  docs/recipes.md
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/RecipeInfoCollection.tsx
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
  src/types/recipe.ts
  src/types/recipes-generate.ts
  src/utils/recipe.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add --ecosystem-agnostic CLI parameter to recipes generate command (CHO-39)
  src/Shell.tsx
  src/containers/RecipesGenerateContainer.tsx
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add --ecosystem-agnostic CLI parameter to recipes generate command (#40)
  src/Shell.tsx
  src/containers/RecipesGenerateContainer.tsx
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add --magic-generate CLI parameter to recipes generate command
  src/Shell.tsx
  src/commands/recipes.test.ts
  src/components/RecipeInfoCollection.tsx
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix CLI magic generation not executing in interactive terminals
  src/components/RecipeInfoCollection.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add --magic-generate CLI parameter to recipes generate command (#41)
  src/Shell.tsx
  src/commands/recipes.test.ts
  src/components/RecipeInfoCollection.tsx
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add local recipe to update README with CLI documentation
  recipes/documentation/update-readme/fix.md
  recipes/documentation/update-readme/metadata.yaml
  recipes/documentation/update-readme/prompt.md
Due: npm run format

Fix ecosystem-agnostic recipe validation
  src/commands/recipes.test.ts
  src/types/recipe.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix ecosystem-agnostic recipe validation (#42)
  src/commands/recipes.test.ts
  src/types/recipe.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix README - remove redundant sections and update CLI documentation
  README.md
Due: npm run format

Improve update-readme recipe to prevent redundant sections
  recipes/documentation/update-readme/fix.md
  recipes/documentation/update-readme/prompt.md
Due: npm run format

Add local recipe to automatically update README with CLI documentation (CHO-37) (#43)
  README.md
  recipes/documentation/update-readme/fix.md
  recipes/documentation/update-readme/metadata.yaml
  recipes/documentation/update-readme/prompt.md
Due: npm run format

Update AI recipe generation to avoid unnecessary provides variables
  src/templates/recipe/recipe_magic_generate.md.hbs
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
Due: none

Update AI recipe generation to avoid unnecessary provides variables (CHO-43) (#44)
  src/templates/recipe/recipe_magic_generate.md.hbs
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
Due: none

Add --ecosystem-specific flag for recipes generate command
  src/commands/recipes.test.ts
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Improve README documentation for ecosystem flags
  README.md
Due: npm run format

Add --ecosystem-specific flag to recipes generate command (CHO-46) (#45)
  README.md
  src/commands/recipes.test.ts
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Refactor recipe structure to support base fix.md with optional variant-specific additions (CHO-47)
  README.md
  docs/recipes.md
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/RecipeInfoCollection.tsx
  src/templates/recipe/recipe_magic_generate.md.hbs
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
  src/templates/recipe/recipe_metadata.yaml.hbs
  src/types/recipe.ts
  src/utils/recipe.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Refactor recipe structure to support base fix.md with optional variant-specific additions (#46)
  README.md
  docs/recipes.md
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/RecipeInfoCollection.tsx
  src/templates/recipe/recipe_magic_generate.md.hbs
  src/templates/recipe/recipe_magic_generate_agnostic.md.hbs
  src/templates/recipe/recipe_metadata.yaml.hbs
  src/types/recipe.ts
  src/utils/recipe.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add AI-powered code sample validation to recipe validation command
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/templates/validation/code_sample_validation.md.hbs
  src/types/recipe.ts
  src/utils/prompts.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Enable library validation test for code sample validation
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Fix library validation test to use yamlStringify for consistency
  src/commands/recipes.test.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add AI-powered code sample validation to recipe validation command (#47)
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/templates/validation/code_sample_validation.md.hbs
  src/types/recipe.ts
  src/utils/prompts.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add recipe output capture support to execution results
  src/commands/recipes.ts
  src/types/recipes-apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add recipe output display to results component
  src/components/RecipesApplyResultDisplay.tsx
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Update recipe prompt to include analysis results in summary
  src/prompts/apply_recipe.md.hbs
Due: none

Integrate recipe output tests and fix success detection logic
  src/commands/recipes.test.ts
  src/commands/recipes.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add recipe output support to recipes apply command (#48)
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/RecipesApplyResultDisplay.tsx
  src/prompts/apply_recipe.md.hbs
  src/types/recipes-apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add applied recipe tracking to state management system
  src/commands/recipes.ts
  src/utils/state-manager.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add recipe validation for reserved .applied keyword
  src/commands/recipes.test.ts
  src/utils/project-characteristics.utils.ts
  src/utils/recipe.utils.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Implement re-application prevention with user warnings
  src/commands/recipes.test.ts
  src/commands/recipes.ts
  src/components/ReApplicationPrompt.tsx
  src/containers/RecipesApplyContainer.tsx
  src/types/recipes-apply.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format

Add --force flag to recipes apply command
  src/commands/recipes.test.ts
  src/main.ts
Due: bash -c 'npm run typecheck', npm run lint:fix, npm run format
